<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page for LACKP</title>
  </head>

  <body>
    <h1>Welcome to LACKP</h1>
    <h3>Please review our teams with their current line up. Or, review a list of positions and see who holds them.</h3>
      <ul>
        <li><a href="/teams/SimpsonSlammers"> Simpson Slammers</a></li>
        <li><a href="#"> Jetson Jets</a></li>
        <li><a href="#"> Flinestone Fire</a></li>
        <li><a href="#"> Griffin Goats</a></li>
        <li><a href="#"> Positions</a></li>
      </ul>
  </body>
</html>

