<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kickball Teams | LACKP</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>
  <body>
    <%= yield%>
  </body>
</html>
