<h1>Kickball Teams</h1>
<%= "#{@team}" %>

<ul>
  <% @team_players.each do |player| %>
    <li><%= "#{player["first_name"]} #{player["last_name"]} - #{player["position"]}" %></li>
  <% end %>
</ul>

<a href="/">Home</a>
